.about-container{
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.aboutInfo {
    position: absolute;
    height: 75vh;
    width: 38%;
    top: 8%;
    left: 5%;
    background-color: #2D4561;
    border-radius: 0.5vw;
}

.aboutTitulo {
    width: 20%;
    color: blanchedalmond;
    position: relative;
    left: 4%;
    top: 4%;
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
}

.aboutTexto {
    color: blanchedalmond;
    width: 80%;
    position: relative;
    left: 11%;
    top: 8%;
    font-size: 120%;
    font-family: ('Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
     'Lucida Sans', Arial, sans-serif);

}

.aboutImagem {
    left: 60%;
    top: 13%;
    width: 50%;
    height: 50%;
    position: absolute;
}

.linha-vertical{
    background-color: rgb(58, 57, 57);
    height: 65vh;
    width: 1px;
    position: relative;
    top: 14%;
    left: 51.5%;
}
